body {
	background-image: url("./../images/wallpaper.jpg");
	background-size: cover;
}

.creation {
	display : flex;
	flex-direction: column;
	width : 20%;
}

.creation label {
	margin : 5px 30%;
	color: navy;
	background-color: silver;
}

.creation input {
	margin-bottom : 10px;
}

.bouton {
	margin : 10px 40%;
	width : 20%;
	background-color: red;
}

.titre {
	color: green;
	font-family: monospace;
	font-style: oblique;
}

.erreur {
	color: red;
	background-color: silver;
	width : 20%;
	border: solid black;
}

.menu {
	display : flex;
	flex-direction: column;
}

.button {
	padding: 10px 10px;
	background-color: olive;
	box-shadow: 2px 2px 5px black;
	border: none;
	margin: 2%;
	border-radius: 10px;
	color: #020101;
	text-decoration: none;
	font-weight: bolder;
	font-family: 'Courier New', Courier, monospace;
}
